<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>braise.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>E6BA694A82D3638A6661F97C59C39C48D0CC40AE</string>
				<key>dateExpires</key>
				<string>12/8/26</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E6BA694A82D3638A6661F97C59C39C48D0CC40AE</string>
						<key>dateExpires</key>
						<string>12/8/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HK264ADU8</string>
						<key>name</key>
						<string>Jake Cimbalista</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E6BA694A82D3638A6661F97C59C39C48D0CC40AE</string>
						<key>dateExpires</key>
						<string>12/8/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>5HK264ADU8.com.braisecooking.app.RecipeImportShareExtension</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>5HK264ADU8</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.braise.recipe</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>RecipeImportShareExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>c45c15f8-bcd4-4ff2-a296-d7932961bb75</string>
						<key>dateExpires</key>
						<string>12/8/26</string>
						<key>name</key>
						<string>iOS Team Store Provisioning Profile: com.braisecooking.app.RecipeImportShareExtension</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5HK264ADU8</string>
						<key>name</key>
						<string>Jake Cimbalista</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>5HK264ADU8.com.braisecooking.app</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>5HK264ADU8</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.com.braise.recipe</string>
				</array>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>braise.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>7d3dcfc2-b7e3-488b-8574-e1ed143f7ed5</string>
				<key>dateExpires</key>
				<string>12/8/26</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.braisecooking.app</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>5HK264ADU8</string>
				<key>name</key>
				<string>Jake Cimbalista</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
